.khung {
    width: 900px;
    border: 2px solid black;
    padding: 20px;
}
h1 {
    color: blue;
    text-align: center;
}
.khung>img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    transform: translate(50px 20px);
}
.khung>div {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.noidung img {
    width: 200px;
    height: auto;
    text-align: center;
}
.noidung>div {
    max-width: 550px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s ease;
}
.noidung p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}
.noidung>div:hover {
    box-shadow: 0 4px 8px rgba(199, 231, 103, 0.2);
    transform: scale(1.05);
}

